@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$primary-color: #3e6f9e;
$cell-color: #b3d9ff;

body {
	font-family: $font;
	color: $primary-color;
}

.event-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reserved {
	background-color: $cell-color;

	.cell-button {
		outline: none !important;
		float: right;
		height: 25px;
		width: 25px;
		background-color: $cell-color;
	}
}

.create-event-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-alert {
	margin: 20px;

	button {
		border-radius: 15%;
		margin-left: 10px;
		background-color: #ff8080;
	}
}
